@model mascotaedu.Models.Pet
@{
    ViewData["Title"] = "Detalle Mascota";
    Layout = "_Layout";
}
<h2>Detalle de la mascota</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt><dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3">Tipo</dt><dd class="col-sm-9">@Model.Type</dd>
        <dt class="col-sm-3">Edad</dt><dd class="col-sm-9">@Model.Age</dd>
        <dt class="col-sm-3">Registrada</dt><dd class="col-sm-9">@Model.CreatedAt.ToLocalTime()</dd>
        <dt class="col-sm-3">Notas</dt><dd class="col-sm-9">@Model.Notes</dd>
    </dl>
    <a class="btn btn-secondary" href="/Pets">Volver</a>
</div>

